trigger:
  - main

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
    displayName: 'Use Python 3.8'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
      pip install flake8
      pip install aiounittest
      pip install codecov
      pip install pytest-cov
    displayName: 'Install dependencies'

  - script: |
      flake8
    displayName: 'Run flake8'

  - script: |
      py.test --cov-report=xml --cov=swimai test/
    displayName: 'Run pytest'

  - template: ci/azure-code-coverage.yml
    parameters:
      name: upload_coverage
      displayName: 'Upload coverage'